<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts  > 0,
                'list-group-item-danger': post.loveIts  < 0}">
    <h2 [ngStyle]="{color: getColor()}">{{ post.title }}</h2>
    <p style="text-align: right; color: grey">{{ post.created_at | date: 'short' }}</p>
    <p [ngStyle]="{color: getColor()}">{{ post.content }}</p>
    <p>
        <button class="btn btn-success" (click)="onLoveIt()">Love It</button>&nbsp;<button class="btn btn-danger" (click)="onDontLoveIt()">Don't love It</button>
    </p>
</li>